body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

h1 {
  color: navy;
  text-align: center;
}

body{
    background-color: aquamarine;
}

nav{

    display: flex;
    justify-content: space-between;
}

a{
    background-color: blueviolet;
}